#wrapper {
  position:absolute;
  width: 95%;
  height:90%;
  display: flex;
}

.textDiv {
  position:relative;
  width: 95%;
  height:95%;
  margin-top:50px;
}

.textCard {
width: 55%;
background-color: #edf1ff;
border: 0px;
border-left: 7px solid #5168ec;
margin-top:20px;
margin-bottom:20px;
padding: 10px;
}

.textList {

}