#wrapper {
    position:absolute;
    width: 95%;
    height:90%;
    display: flex;
}

.textDiv {
    position:relative;
    width: 95%;
    height:95%;
    margin-top:50px;
}

.textCard {
  width: 55%;
  margin-top:20px;
  margin-bottom:20px;
  padding: 10px;
}